wsit/etc/schemas/config/metro.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

    Copyright 1997-2008 Sun Microsystems, Inc. All rights reserved.

    The contents of this file are subject to the terms of either the GNU
    General Public License Version 2 only ("GPL") or the Common Development
    and Distribution License("CDDL") (collectively, the "License").  You
    may not use this file except in compliance with the License. You can obtain
    a copy of the License at https://glassfish.dev.java.net/public/CDDL+GPL.html
    or glassfish/bootstrap/legal/LICENSE.txt.  See the License for the specific
    language governing permissions and limitations under the License.

    When distributing the software, include this License Header Notice in each
    file and include the License file at glassfish/bootstrap/legal/LICENSE.txt.
    Sun designates this particular file as subject to the "Classpath" exception
    as provided by Sun in the GPL Version 2 section of the License file that
    accompanied this code.  If applicable, add the following below the License
    Header, with the fields enclosed by brackets [] replaced by your own
    identifying information: "Portions Copyrighted [year]
    [name of copyright owner]"

    Contributor(s):

    If you wish your version of this file to be governed by only the CDDL or
    only the GPL Version 2, indicate your decision by adding "[Contributor]
    elects to include this software in this distribution under the [CDDL or GPL
    Version 2] license."  If you don't indicate a single choice of license, a
    recipient has the option to distribute your version of this file under
    either the CDDL, the GPL Version 2 or to extend the choice of license to
    its licensees as provided above.  However, if you add GPL Version 2 code
    and therefore, elected the GPL Version 2 license, then the option applies
    only if the new code is made subject to such option by the copyright
    holder.
-->
<!--
    This XML schema document describes format of the Metro configuration file
    (metro.xml).

    Naming conventiotns:
    - Simple XSD types are suffixed with "SType"
    - Complex XSD types are suffixed with "CType"
-->
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0"
        xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://java.sun.com/xml/ns/metro/config"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" ns="http://java.sun.com/xml/ns/metro/config"
        datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <a:documentation> This file defines the XML schema for metro.xml configuration file. <jaxb:schemaBindings>
                        <jaxb:package name="com.sun.xml.ws.runtime.config"/>
                </jaxb:schemaBindings>
        </a:documentation>
        <!-- Element Definitions -->
        <rng:start>
                <rng:ref name="metro"/>
        </rng:start>
        <rng:define name="metro">
                <rng:element name="metro">
                        <a:documentation> The root element in Metro configuration file. <jaxb:class
                                        name="MetroConfig"/>
                        </a:documentation>
                        <rng:optional>
                                <rng:ref name="tubelines"/>
                        </rng:optional>
                        <rng:zeroOrMore>
                                <rng:element>
                                        <rng:anyName/>
                                        <rng:text/>
                                </rng:element>
                        </rng:zeroOrMore>
                        <rng:attribute name="version">
                                <rng:ref name="metroConfigVersionSType"/>
                                <a:documentation> Atribute defining version of the Metro
                                        configuration used in the file. </a:documentation>
                        </rng:attribute>
                        <rng:attribute>
                                <rng:anyName/>
                                <rng:text/>
                        </rng:attribute>
                </rng:element>
        </rng:define>
        <rng:start>
                <rng:ref name="tubelines"/>
        </rng:start>
        <rng:define name="tubelines">
                <rng:element name="tubelines">
                        <rng:ref name="tubelinesConfigCType"/>
                        <a:documentation> Element defining borders of the section dedicated to
                                tubeline definitions and tubeline-to-endpoint or tubeline-to-client
                                mappings. </a:documentation>
                </rng:element>
        </rng:define>
        <rng:start>
                <rng:ref name="tubeline-mapping"/>
        </rng:start>
        <rng:define name="tubeline-mapping">
                <rng:element name="tubeline-mapping">
                        <rng:ref name="tubelineMappingCType"/>
                        <a:documentation> The content of the element defines actual mapping between
                                a tubeline definition and a specific web service endpoint or client.
                        </a:documentation>
                </rng:element>
        </rng:define>
        <rng:start>
                <rng:ref name="tubeline"/>
        </rng:start>
        <rng:define name="tubeline">
                <rng:element name="tubeline">
                        <rng:ref name="tubelineDefinitionCType"/>
                        <a:documentation> The content of this element contains a tubeline definition
                                that may be attached to endpoints and/or endpoint clients using one
                                of the mechanisms described above. The tubeline definition consist
                                of an ordered list(s) of tube factories specific for client and/or
                                server side and is always composed in the Client-&gt;Endpoint
                                message processing direction. </a:documentation>
                </rng:element>
        </rng:define>
        <!-- Simple Type Definitions -->
        <rng:define name="metroConfigVersionSType">
                <a:documentation> The restricted string type for the metro configuration file
                        version attribute. </a:documentation>
                <rng:choice>
                        <rng:value>1.0</rng:value>
                </rng:choice>
        </rng:define>
        <!-- Complex Type Definitions -->
        <rng:define name="tubelinesConfigCType">
                <a:documentation>
                        <jaxb:class name="Tubelines"/>
                </a:documentation>
                <rng:zeroOrMore>
                        <rng:ref name="tubeline-mapping"/>
                        <a:documentation>
                                <jaxb:property name="tubelineMappings"/>
                        </a:documentation>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                        <rng:ref name="tubeline"/>
                        <a:documentation>
                                <jaxb:property name="tubelineDefinitions"/>
                        </a:documentation>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                        <rng:element>
                                <rng:anyName/>
                                <rng:text/>
                        </rng:element>
                </rng:zeroOrMore>
                <rng:optional>
                        <rng:attribute name="default">
                                <rng:data type="anyURI">
                                        <a:documentation> This optional attribute, if specified,
                                                defines a URI of a custom tubeline definition that
                                                should be used as a default tubeline for all
                                                endpoints and clients in the application.
                                        </a:documentation>
                                </rng:data>
                        </rng:attribute>
                </rng:optional>
                <rng:attribute>
                        <rng:anyName/>
                        <rng:text/>
                </rng:attribute>
        </rng:define>
        <rng:define name="tubelineMappingCType">
                <a:documentation>
                        <jaxb:class name="TubelineMapping"/>
                </a:documentation>
                <rng:element name="endpoint-ref">
                        <rng:data type="anyURI">
                                <a:documentation> The element contains an URI to the web service
                                        endpoint and/or its client that is part of tubeline-endpoint
                                        and/or tubeline-endpoint client mapping </a:documentation>
                        </rng:data>
                </rng:element>
                <rng:element name="tubeline-ref">
                        <rng:data type="anyURI">
                                <a:documentation> The element contains an URI to the tubeline
                                        definition that is part of the tubeline-endpoint and/or
                                        tubeline-endpoint client mapping </a:documentation>
                        </rng:data>
                </rng:element>
                <rng:zeroOrMore>
                        <rng:element>
                                <rng:anyName/>
                                <rng:text/>
                        </rng:element>
                </rng:zeroOrMore>
                <rng:attribute>
                        <rng:anyName/>
                        <rng:text/>
                </rng:attribute>
        </rng:define>
        <rng:define name="tubelineDefinitionCType">
                <a:documentation>
                        <jaxb:class name="TubelineDefinition"/>
                </a:documentation>
                <rng:optional>
                        <rng:element name="client-side">
                                <rng:ref name="tubeFactoryListCType"/>
                                <a:documentation> Contains the client-side specific ordered list of
                                        tube factories. If this optional element is omitted, default
                                        application tubeline definition is used. If default
                                        application tubeline definition also omits this optional
                                        element, default Metro tubeline is used. </a:documentation>
                        </rng:element>
                </rng:optional>
                <rng:optional>
                        <rng:element name="endpoint-side">
                                <rng:ref name="tubeFactoryListCType"/>
                                <a:documentation> Contains the endpoint-side specific ordered list
                                        of tube factories. If this optional element is omitted,
                                        default application tubeline definition is used. If default
                                        application tubeline definition also omits this optional
                                        element, default Metro tubeline definition is used.
                                </a:documentation>
                        </rng:element>
                </rng:optional>
                <rng:zeroOrMore>
                        <rng:element>
                                <rng:anyName/>
                                <rng:text/>
                        </rng:element>
                </rng:zeroOrMore>
                <rng:optional>
                        <rng:attribute name="name">
                                <rng:data type="ID">
                                        <a:documentation> This attribute uniquely identifies each
                                                tubeline definition. </a:documentation>
                                </rng:data>
                        </rng:attribute>
                </rng:optional>
                <rng:attribute>
                        <rng:anyName/>
                        <rng:text/>
                </rng:attribute>
        </rng:define>
        <rng:define name="tubeFactoryListCType">
                <a:documentation>
                        <jaxb:class name="TubeFactoryList"/>
                </a:documentation>
                <rng:oneOrMore>
                        <rng:element name="tube-factory">
                                <rng:ref name="tubeFactoryCType"/>
                                <a:documentation> The element holds information necessary for
                                        instantiating the tube factory. Each tube factory implements
                                        a specific interface that declares methods invoked during a
                                        tubeline construction in the Metro tubeline assembler.
                                                <jaxb:property name="tubeFactoryConfigs"/>
                                </a:documentation>
                        </rng:element>
                </rng:oneOrMore>
                <rng:zeroOrMore>
                        <rng:element>
                                <rng:anyName/>
                                <rng:text/>
                        </rng:element>
                </rng:zeroOrMore>
                <rng:attribute>
                        <rng:anyName/>
                        <rng:text/>
                </rng:attribute>
        </rng:define>
        <rng:define name="tubeFactoryCType">
                <a:documentation>
                        <jaxb:class name="TubeFactoryConfig"/>
                </a:documentation>
                <rng:zeroOrMore>
                        <rng:element>
                                <rng:anyName/>
                                <rng:text/>
                        </rng:element>
                </rng:zeroOrMore>
                <rng:attribute name="className">
                        <rng:data type="string">
                                <a:documentation> This required attribute holds the fully qualified
                                        name of a tube factory class implementation. Each tube
                                        factory implements a specific interface that declares
                                        methods invoked during a tubeline construction in the Metro
                                        tubeline assembler. </a:documentation>
                        </rng:data>
                </rng:attribute>
                <rng:attribute>
                        <rng:anyName/>
                        <rng:text/>
                </rng:attribute>
        </rng:define>
</rng:grammar>
