wsit/rt/src/com/sun/xml/ws/transport/tcp/servicechannel/ServiceChannelWSImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicechannel.tcp.transport.ws.xml.sun.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://servicechannel.tcp.transport.ws.xml.sun.com/" name="ServiceChannelWSImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicechannel.tcp.transport.ws.xml.sun.com/" schemaLocation="ServiceChannelWSImplService_schema1.xsd"/>
</xsd:schema>
</types>
<message name="initiateSession">
<part name="parameters" element="tns:initiateSession"/>
</message>
<message name="initiateSessionResponse">
<part name="parameters" element="tns:initiateSessionResponse"/>
</message>
<message name="ServiceChannelException">
<part name="fault" element="tns:ServiceChannelException"/>
</message>
<message name="openChannel">
<part name="parameters" element="tns:openChannel"/>
</message>
<message name="openChannelResponse">
<part name="parameters" element="tns:openChannelResponse"/>
</message>
<message name="closeChannel">
<part name="parameters" element="tns:closeChannel"/>
</message>
<message name="closeChannelResponse">
<part name="parameters" element="tns:closeChannelResponse"/>
</message>
<portType name="ServiceChannelWSImpl">
<operation name="initiateSession">
<input message="tns:initiateSession"/>
<output message="tns:initiateSessionResponse"/>
<fault message="tns:ServiceChannelException" name="ServiceChannelException"/>
</operation>
<operation name="openChannel">
<input message="tns:openChannel"/>
<output message="tns:openChannelResponse"/>
<fault message="tns:ServiceChannelException" name="ServiceChannelException"/>
</operation>
<operation name="closeChannel">
<input message="tns:closeChannel"/>
<output message="tns:closeChannelResponse"/>
<fault message="tns:ServiceChannelException" name="ServiceChannelException"/>
</operation>
</portType>
<binding name="ServiceChannelWSImplPortBinding" type="tns:ServiceChannelWSImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="initiateSession">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceChannelException">
<soap:fault name="ServiceChannelException" use="literal"/>
</fault>
</operation>
<operation name="openChannel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceChannelException">
<soap:fault name="ServiceChannelException" use="literal"/>
</fault>
</operation>
<operation name="closeChannel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceChannelException">
<soap:fault name="ServiceChannelException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ServiceChannelWSImplService">
<port name="ServiceChannelWSImplPort" binding="tns:ServiceChannelWSImplPortBinding">
<soap:address location="vnd.sun.ws.tcp://CHANGED_BY_RUNTIME"/>
</port>
</service>
</definitions>
