wsit/samples/pricequote/etc/wcf/wholesaler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
        name="WholesaleService"
        targetNamespace="http://example.org/wholesaler"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsap10="http://www.w3.org/2005/08/addressing"
        xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/09/policy/addressing"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:tns="http://example.org/wholesaler"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing">
    <wsp:Policy
            wsu:Id="WholesalerPort_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsrm:RMAssertion
                        xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
                    <wsrm:InactivityTimeout
                            Milliseconds="600000"/>

                    <wsrm:AcknowledgementInterval
                            Milliseconds="200"/>
                </wsrm:RMAssertion>

                <sp:SymmetricBinding
                        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:SecureConversationToken
                                        sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                                    <wsp:Policy>
                                        <sp:RequireDerivedKeys/>

                                        <sp:BootstrapPolicy>
                                            <wsp:Policy>
                                                <sp:SymmetricBinding>
                                                    <wsp:Policy>
                                                        <sp:ProtectionToken>
                                                            <wsp:Policy>
                                                                <sp:X509Token

                                                                        sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                                                                    <wsp:Policy>
                                                                        <sp:RequireDerivedKeys/>

                                                                        <sp:RequireThumbprintReference/>

                                                                        <sp:WssX509V3Token10/>
                                                                    </wsp:Policy>
                                                                </sp:X509Token>
                                                            </wsp:Policy>
                                                        </sp:ProtectionToken>

                                                        <sp:AlgorithmSuite>
                                                            <wsp:Policy>
                                                                <sp:Basic256/>
                                                            </wsp:Policy>
                                                        </sp:AlgorithmSuite>

                                                        <sp:Layout>
                                                            <wsp:Policy>
                                                                <sp:Strict/>
                                                            </wsp:Policy>
                                                        </sp:Layout>

                                                        <sp:IncludeTimestamp/>

                                                        <sp:EncryptSignature/>

                                                        <sp:OnlySignEntireHeadersAndBody/>
                                                    </wsp:Policy>
                                                </sp:SymmetricBinding>

                                                <sp:EndorsingSupportingTokens>
                                                    <wsp:Policy>
                                                        <sp:IssuedToken
                                                                sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                                                            <sp:RequestSecurityTokenTemplate>
                                                                <t:KeyType
                                                                        xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://schemas.xmlsoap.org/ws/2005/02/trust/SymmetricKey</t:KeyType>
                                                            </sp:RequestSecurityTokenTemplate>
                                                            <wsp:Policy>
                                                                <sp:RequireDerivedKeys/>
                                                                <sp:RequireInternalReference/>
                                                            </wsp:Policy>
                                                        </sp:IssuedToken>
                                                    </wsp:Policy>
                                                </sp:EndorsingSupportingTokens>

                                                <!--<sp:EndorsingSupportingTokens>-->
                                                    <!--<wsp:Policy>-->
                                                        <!--<sp:X509Token-->
                                                                <!--sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">-->
                                                            <!--<wsp:Policy>-->
                                                                <!--sp:RequireDerivedKeys/-->
                                                                <!--<sp:RequireThumbprintReference/>-->
<!---->
                                                                <!--<sp:WssX509V3Token10/>-->
                                                            <!--</wsp:Policy>-->
                                                        <!--</sp:X509Token>-->
                                                    <!--</wsp:Policy>-->
                                                <!--</sp:EndorsingSupportingTokens>-->

                                                <sp:Wss11>
                                                    <wsp:Policy>
                                                        <sp:MustSupportRefKeyIdentifier/>

                                                        <sp:MustSupportRefIssuerSerial/>

                                                        <sp:MustSupportRefThumbprint/>

                                                        <sp:MustSupportRefEncryptedKey/>

                                                        <sp:RequireSignatureConfirmation/>
                                                    </wsp:Policy>
                                                </sp:Wss11>

                                                <sp:Trust10>
                                                    <wsp:Policy>
                                                        <sp:MustSupportIssuedTokens/>

                                                        <sp:RequireClientEntropy/>

                                                        <sp:RequireServerEntropy/>
                                                    </wsp:Policy>
                                                </sp:Trust10>
                                            </wsp:Policy>
                                        </sp:BootstrapPolicy>
                                    </wsp:Policy>
                                </sp:SecureConversationToken>
                            </wsp:Policy>
                        </sp:ProtectionToken>

                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>

                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>

                        <sp:IncludeTimestamp/>

                        <sp:EncryptSignature/>

                        <sp:OnlySignEntireHeadersAndBody/>
                    </wsp:Policy>
                </sp:SymmetricBinding>

                <sp:Wss11
                        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:MustSupportRefKeyIdentifier/>

                        <sp:MustSupportRefIssuerSerial/>

                        <sp:MustSupportRefThumbprint/>

                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>

                <sp:Trust10
                        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:MustSupportIssuedTokens/>

                        <sp:RequireClientEntropy/>

                        <sp:RequireServerEntropy/>
                    </wsp:Policy>
                </sp:Trust10>
                <sc:KeyStore xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
                             location="$WSIT_HOME/xws-security/etc/server-keystore.jks" storepass="changeit"
                             alias="bob"/>
                <sc:TrustStore xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
                               location="$WSIT_HOME/xws-security/etc/server-truststore.jks" storepass="changeit"/>

                <wsap10:UsingAddressing/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <wsp:Policy
            wsu:Id="WholesalerPort_getQuote_Input_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SignedParts
                        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>

                    <sp:Header
                            Name="Sequence"
                            Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>

                    <sp:Header
                            Name="SequenceAcknowledgement"
                            Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>

                    <sp:Header
                            Name="AckRequested"
                            Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>

                    <sp:Header
                            Name="To"
                            Namespace="http://www.w3.org/2005/08/addressing"/>

                    <sp:Header
                            Name="From"
                            Namespace="http://www.w3.org/2005/08/addressing"/>

                    <sp:Header
                            Name="FaultTo"
                            Namespace="http://www.w3.org/2005/08/addressing"/>

                    <sp:Header
                            Name="ReplyTo"
                            Namespace="http://www.w3.org/2005/08/addressing"/>

                    <sp:Header
                            Name="MessageID"
                            Namespace="http://www.w3.org/2005/08/addressing"/>

                    <sp:Header
                            Name="RelatesTo"
                            Namespace="http://www.w3.org/2005/08/addressing"/>

                    <sp:Header
                            Name="Action"
                            Namespace="http://www.w3.org/2005/08/addressing"/>
                </sp:SignedParts>

                <sp:EncryptedParts
                        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                </sp:EncryptedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <wsp:Policy
            wsu:Id="WholesalerPort_getQuote_output_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SignedParts
                        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>

                    <sp:Header
                            Name="Sequence"
                            Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>

                    <sp:Header
                            Name="SequenceAcknowledgement"
                            Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>

                    <sp:Header
                            Name="AckRequested"
                            Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>

                    <sp:Header
                            Name="To"
                            Namespace="http://www.w3.org/2005/08/addressing"/>

                    <sp:Header
                            Name="From"
                            Namespace="http://www.w3.org/2005/08/addressing"/>

                    <sp:Header
                            Name="FaultTo"
                            Namespace="http://www.w3.org/2005/08/addressing"/>

                    <sp:Header
                            Name="ReplyTo"
                            Namespace="http://www.w3.org/2005/08/addressing"/>

                    <sp:Header
                            Name="MessageID"
                            Namespace="http://www.w3.org/2005/08/addressing"/>

                    <sp:Header
                            Name="RelatesTo"
                            Namespace="http://www.w3.org/2005/08/addressing"/>

                    <sp:Header
                            Name="Action"
                            Namespace="http://www.w3.org/2005/08/addressing"/>
                </sp:SignedParts>

                <sp:EncryptedParts
                        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                </sp:EncryptedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <wsdl:types>
        <xsd:schema
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://example.org/wholesaler"
                xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
                elementFormDefault="qualified"
                attributeFormDefault="unqualified">
            <xsd:element name='id' type='xsd:int'/>
            <element name="quote">
                <complexType>
                    <sequence>
                        <element name="price" type="float"/>
                        <!--<element name="specs" type="string" xmime:expectedContentTypes="text/xml"/>-->
                        <element name="photo" type="base64Binary" xmime:expectedContentTypes="image/jpeg"/>
                    </sequence>
                </complexType>
            </element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message
            name="getQuoteRequest">
        <wsdl:part
                name="id"
                element="tns:id"/>
    </wsdl:message>

    <wsdl:message
            name="getQuoteResponse">
        <wsdl:part
                name="quote"
                element="tns:quote"/>
    </wsdl:message>

    <wsdl:portType
            name="WholesalerPortType">
        <wsdl:operation
                name="getQuote">
            <wsdl:input
                    wsa10:Action="http://example.org/wholesaler/request"
                    name="getQuoteRequest"
                    message="tns:getQuoteRequest"/>

            <wsdl:output
                    wsa10:Action="http://example.org/wholesaler/response"
                    name="getQuoteResponse"
                    message="tns:getQuoteResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding
            name="WholesalerPort"
            type="tns:WholesalerPortType">
        <wsp:PolicyReference
                URI="#WholesalerPort_policy"/>

        <soap:binding
                transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation
                name="getQuote">
            <soap:operation
                    soapAction="http://example.org/wholesaler/request"
                    style="document"/>

            <wsdl:input
                    name="getQuoteRequest">
                <wsp:PolicyReference
                        URI="#WholesalerPort_getQuote_Input_policy"/>

                <soap:body
                        use="literal"/>
            </wsdl:input>

            <wsdl:output
                    name="getQuoteResponse">
                <wsp:PolicyReference
                        URI="#WholesalerPort_getQuote_output_policy"/>

                <soap:body
                        use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service
            name="WholesaleService">
        <wsdl:port
                name="WholesalerPort"
                binding="tns:WholesalerPort">
            <soap:address
                    location="http://129.145.133.244/wholesaler/wholesalerservice.svc/SecureConversation"
                    />

            <wsa10:EndpointReference>
                <wsa10:Address>http://localhost/wholesaler/wholesalerservice.svc/SecureConversation</wsa10:Address>

                <Identity
                        xmlns="http://schemas.microsoft.com/ws/2004/04/addressingidentityextension">
                    <KeyInfo
                            xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <X509Data>
                            <X509Certificate>
                                MIIDCjCCAfKgAwIBAgIQYDju2/6sm77InYfTq65x+DANBgkqhkiG9w0BAQUFADAwMQ4wDAYDVQQKDAVPQVNJUzEeMBwGA1UEAwwVT0FTSVMgSW50ZXJvcCBUZXN0IENBMB4XDTA1MDMxOTAwMDAwMFoXDTE4MDMxOTIzNTk1OVowQDEOMAwGA1UECgwFT0FTSVMxIDAeBgNVBAsMF09BU0lTIEludGVyb3AgVGVzdCBDZXJ0MQwwCgYDVQQDDANCb2IwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMCquMva4lFDrv3fXQnKK8CkSU7HvVZ0USyJtlL/yhmHH/FQXHyYY+fTcSyWYItWJYiTZ99PAbD+6EKBGbdfuJNUJCGaTWc5ZDUISqM/SGtacYe/PD/4+g3swNPzTUQAIBLRY1pkr2cm3s5Ch/f+mYVNBR41HnBeIxybw25kkoM7AgMBAAGjgZMwgZAwCQYDVR0TBAIwADAzBgNVHR8ELDAqMCiiJoYkaHR0cDovL2ludGVyb3AuYmJ0ZXN0Lm5ldC9jcmwvY2EuY3JsMA4GA1UdDwEB/wQEAwIEsDAdBgNVHQ4EFgQUXeg55vRyK3ZhAEhEf+YT0z986L0wHwYDVR0jBBgwFoAUwJ0o/MHrNaEd1qqqoBwaTcJJDw8wDQYJKoZIhvcNAQEFBQADggEBAIiVGv2lGLhRvmMAHSlY7rKLVkv+zEUtSyg08FBT8z/RepUbtUQShcIqwWsemDU8JVtsucQLc+g6GCQXgkCkMiC8qhcLAt3BXzFmLxuCEAQeeFe8IATr4wACmEQE37TEqAuWEIanPYIplbxYgwP0OBWBSjcRpKRAxjEzuwObYjbll6vKdFHYIweWhhWPrefquFp7TefTkF4D3rcctTfWJ76I5NrEVld+7PBnnJNpdDEuGsoaiJrwTW3Ixm40RXvG3fYS4hIAPeTCUk3RkYfUkqlaaLQnUrF2hZSgiBNLPe8gGkYORccRIlZCGQDEpcWl1Uf9OHw6fC+3hkqolFd5CVI=</X509Certificate>
                        </X509Data>
                    </KeyInfo>
                </Identity>
            </wsa10:EndpointReference>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>