wsit/test/e2e/testcases/wsrm/testserver/server/EchoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsap10="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/09/policy/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://tempuri.org/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://tempuri.org/" name="PingService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import schemaLocation="ReliableRequestReplyxsd1.xsd" namespace="http://tempuri.org/"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="EchoRequest">
		<wsdl:part name="echoString" element="tns:echoString"/>
	</wsdl:message>
	<wsdl:message name="EchoResponse">
		<wsdl:part name="echoStringResponse" element="tns:echoStringResponse"/>
	</wsdl:message>
        <wsdl:message name="PingRequest">
		<wsdl:part name="parameters" element="tns:ping"/>
	</wsdl:message>
        <wsdl:message name="process">
            <wsdl:part name="parameters" element="tns:process"/>
        </wsdl:message>
        <!--
        <wsdl:message name="processResponse">
            <wsdl:part name="parameters" element="tns:processResponse"/>
        </wsdl:message>
        -->
        <wsdl:message name="clear">
            <wsdl:part name="parameters" element="tns:clear"/>
        </wsdl:message>
        <wsdl:message name="clearResponse">
            <wsdl:part name="parameters" element="tns:clearResponse"/>
        </wsdl:message>
        <wsdl:message name="getCount">
            <wsdl:part name="parameters" element="tns:getCount"/>
        </wsdl:message>
        <wsdl:message name="getCountResponse">
            <wsdl:part name="parameters" element="tns:getCountResponse"/>
        </wsdl:message>
        
        <wsdl:message name="getOrdered">
            <wsdl:part name="parameters" element="tns:getOrdered"/>
        </wsdl:message>
        <wsdl:message name="getOrderedResponse">
            <wsdl:part name="parameters" element="tns:getOrderedResponse"/>
        </wsdl:message>
        
        <wsdl:message name="getSequence">
            <wsdl:part name="parameters" element="tns:getSequence"/>
        </wsdl:message>
        <wsdl:message name="getSequenceResponse">
            <wsdl:part name="parameters" element="tns:getSequenceResponse"/>
        </wsdl:message>
        <wsdl:message name="getDuplicates">
            <wsdl:part name="parameters" element="tns:getDuplicates"/>
        </wsdl:message>
        <wsdl:message name="getDuplicatesResponse">
            <wsdl:part name="parameters" element="tns:getDuplicatesResponse"/>
        </wsdl:message>
        <wsdl:message name="getAlive">
            <wsdl:part name="parameters" element="tns:getAlive"/>
        </wsdl:message>
        <wsdl:message name="getAliveResponse">
            <wsdl:part name="parameters" element="tns:getAliveResponse"/>
        </wsdl:message>
        <wsdl:message name="getInactivityTimeout">
            <wsdl:part name="parameters" element="tns:getInactivityTimeout"/>
        </wsdl:message>
        <wsdl:message name="getInactivityTimeoutResponse">
            <wsdl:part name="parameters" element="tns:getInactivityTimeoutResponse"/>
        </wsdl:message>
	<wsdl:portType name="IPing" >
            <wsdl:operation name="EchoString" >
                    <wsdl:input name="EchoRequest" message="tns:EchoRequest" />
                    <wsdl:output name="EchoResponse" message="tns:EchoResponse" />
            </wsdl:operation>
            <wsdl:operation name="Ping" >
                    <wsdl:input name="PingRequest" message="tns:PingRequest" />
            </wsdl:operation>
            <wsdl:operation name="clear">
                  <wsdl:input message="tns:clear"/>
                  <wsdl:output message="tns:clearResponse"/>
            </wsdl:operation>
            <wsdl:operation name="process">
                  <wsdl:input message="tns:process"/>
           <!--       <wsdl:output message="tns:processResponse"/> -->
            </wsdl:operation>
            <wsdl:operation name="getCount">
                  <wsdl:input message="tns:getCount"/>
                  <wsdl:output message="tns:getCountResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getOrdered">
                  <wsdl:input message="tns:getOrdered"/>
                  <wsdl:output message="tns:getOrderedResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getSequence">
                  <wsdl:input message="tns:getSequence"/>
                  <wsdl:output message="tns:getSequenceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getDuplicates">
                  <wsdl:input message="tns:getDuplicates"/>
                  <wsdl:output message="tns:getDuplicatesResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getAlive">
                  <wsdl:input message="tns:getAlive"/>
                  <wsdl:output message="tns:getAliveResponse"/>
            </wsdl:operation>
             <wsdl:operation name="getInactivityTimeout">
                  <wsdl:input message="tns:getInactivityTimeout"/>
                  <wsdl:output message="tns:getInactivityTimeoutResponse"/>
            </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSHttpBinding_IPing" type="tns:IPing">
            <wsp:PolicyReference URI="#WSHttpBinding_IPing_policy"/>
            <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
            <wsdl:operation name="EchoString">
                    <wsdl:input>
                            <soap12:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output>
                            <soap12:body use="literal"/>
                    </wsdl:output>
            </wsdl:operation>
            <wsdl:operation name="Ping">
                    <wsdl:input>
                            <soap12:body use="literal"/>
                    </wsdl:input>
            </wsdl:operation>
             <wsdl:operation name="process">
              <soap:operation soapAction=""/>
              <wsdl:input>
                <soap:body use="literal"/>
              </wsdl:input>
              <!--
              <wsdl:output>
                <soap:body use="literal"/>
              </wsdl:output>
              -->
            </wsdl:operation>
            <wsdl:operation name="clear">
              <soap:operation soapAction=""/>
              <wsdl:input>
                <soap:body use="literal"/>
              </wsdl:input>
              <wsdl:output>
                <soap:body use="literal"/>
              </wsdl:output>
            </wsdl:operation>
            <wsdl:operation name="getCount">
              <soap:operation soapAction=""/>
              <wsdl:input>
                <soap:body use="literal"/>
              </wsdl:input>
              <wsdl:output>
                <soap:body use="literal"/>
              </wsdl:output>
            </wsdl:operation>
            
            <wsdl:operation name="getOrdered">
              <soap:operation soapAction=""/>
              <wsdl:input>
                <soap:body use="literal"/>
              </wsdl:input>
              <wsdl:output>
                <soap:body use="literal"/>
              </wsdl:output>
            </wsdl:operation>
            <wsdl:operation name="getSequence">
              <soap:operation soapAction=""/>
              <wsdl:input>
                <soap:body use="literal"/>
              </wsdl:input>
              <wsdl:output>
                <soap:body use="literal"/>
              </wsdl:output>
            </wsdl:operation>
            <wsdl:operation name="getDuplicates">
              <soap:operation soapAction=""/>
              <wsdl:input>
                <soap:body use="literal"/>
              </wsdl:input>
              <wsdl:output>
                <soap:body use="literal"/>
              </wsdl:output>
            </wsdl:operation>
            <wsdl:operation name="getAlive">
              <soap:operation soapAction=""/>
              <wsdl:input>
                <soap:body use="literal"/>
              </wsdl:input>
              <wsdl:output>
                <soap:body use="literal"/>
              </wsdl:output>
            </wsdl:operation>
            <wsdl:operation name="getInactivityTimeout">
              <soap:operation soapAction=""/>
              <wsdl:input>
                <soap:body use="literal"/>
              </wsdl:input>
              <wsdl:output>
                <soap:body use="literal"/>
              </wsdl:output>
            </wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PingService">
		<wsdl:port name="WSHttpBinding_IPing" binding="tns:WSHttpBinding_IPing">
			<soap12:address location="http://131.107.72.15/ReliableMessaging_Service_Indigo/ReliableRequestReply.svc"/>
			<!--<wsa10:EndpointReference>
				<wsa10:Address>http://localhost:8080/testserver/echo?wsdl</wsa10:Address>
			</wsa10:EndpointReference>-->
		</wsdl:port>
	</wsdl:service>
	<wsp:Policy wsu:Id="WSHttpBinding_IPing_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
					<wsrm:InactivityTimeout Milliseconds="4000"/>
					<wsrm:AcknowledgementInterval Milliseconds="199"/>
				</wsrm:RMAssertion>
				<net:RmFlowControl xmlns:net="http://schemas.microsoft.com/net/2005/02/rm/policy">
					<net:MaxReceiveBufferSize>30</net:MaxReceiveBufferSize>
				</net:RmFlowControl>
				<wspe:Utf816FFFECharacterEncoding xmlns:wspe="http://schemas.xmlsoap.org/ws/2004/09/policy/encoding"/>
				<wsap10:UsingAddressing/>
                                <sun:Ordered xmlns:sun="http://sun.com/2006/03/rm"/>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
</wsdl:definitions>
