wsit/samples/pricequote/etc/wsit-client.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
 * The contents of this file are subject to the terms
 * of the Common Development and Distribution License
 * (the License).  You may not use this file except in
 * compliance with the License.
 *
 * You can obtain a copy of the license at
 * https://glassfish.dev.java.net/public/CDDLv1.0.html.
 * See the License for the specific language governing
 * permissions and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL
 * Header Notice in each file and include the License file
 * at https://glassfish.dev.java.net/public/CDDLv1.0.html.
 * If applicable, add the following below the CDDL Header,
 * with the fields enclosed by brackets [] replaced by
 * you own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 *
 * Copyright 2006 Sun Microsystems Inc. All Rights Reserved
-->
<!--
 $Id: wsit-client.xml,v 1.3 2006-08-05 05:15:01 arungupta Exp $
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsaw="http://www.w3.org/2005/08/addressing"
             xmlns:wsap10="http://www.w3.org/2005/08/addressing"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:tns="http://example.org/retailer"
             targetNamespace="http://example.org/retailer">
      <wsp:Policy wsu:Id="KeyStorePolicy1">
      <wsp:ExactlyOne>
         <wsp:All>
             <sc:KeyStore xmlns:sc="http://schemas.sun.com/2006/03/wss/client" location="$WSIT_HOME/xws-security/etc/client-keystore.jks" storepass="changeit" alias="alice" optional="true"/>
             <sc:TrustStore xmlns:sc="http://schemas.sun.com/2006/03/wss/client" location="$WSIT_HOME/xws-security/etc/client-truststore.jks" storepass="changeit"  optional="true"/>
             <sc:CallbackHandlerConfiguration xmlns:sc="http://schemas.sun.com/2006/03/wss/client"  optional="true">
             <sc:CallbackHandler  name="usernameHandler"  default="Alice"  optional="true"/>
            </sc:CallbackHandlerConfiguration>
       </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>


    <types>
        <schema
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://example.org/retailer"
                xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
                elementFormDefault="qualified"
                attributeFormDefault="unqualified">
            <complexType name="QuoteType">

            </complexType>
            <element name="id" type="xsd:int"/>
            <element name="quote">
                <complexType>
                    <sequence>
                        <element name="price" type="float"/>
                        <element name="photo" type="base64Binary" xmime:expectedContentTypes="image/jpeg"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>

    <message name="getPriceRequest">
        <part name="request" element="tns:id"/>
    </message>

    <message name="getPriceResponse">
        <part name="response" element="tns:quote"/>
    </message>

    <portType name="RetailerPortType">
        <operation name="getPrice">
            <input message="tns:getPriceRequest" wsaw:Action="http://example.org/retailer/request"/>
            <output message="tns:getPriceResponse" wsaw:Action="http://example.org/retailer/response"/>
        </operation>
    </portType>

    <binding name="RetailerBinding" type="tns:RetailerPortType">
        <!--<wsp:PolicyReference URI="#OnlyAddressing_policy"/>-->
        <!--<wsp:PolicyReference URI="#OnlyMTOM_policy"/>-->
        <wsp:PolicyReference URI="#KeyStorePolicy1"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getPrice">
            <soap:operation style="document" soapAction="http://example.org/retailer/request"/>
            <input>
              <!--  <wsp:PolicyReference URI="#Retailer_getPrice_Input_policy"/>-->
                <soap:body use="literal"/>
            </input>
            <output>
                <!--<wsp:PolicyReference URI="#Retailer_getPrice_Output_policy"/>-->
                <soap:body use="literal"/>
            </output>
        </operation>

    </binding>

    <service name="RetailerQuoteService">
        <port name="RetailerPort" binding="tns:RetailerBinding">
            <soap:address location="http://localhost:8080/pricequote/retailer"/>
        </port>
    </service>
</definitions>


