wsit/metro-config/metro-config-impl/src/test/resources/policy/parser/testInvalidAssertionError.wsdl

<?xml version="1.0"?>

<!--
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 
 Copyright 1997-2008 Sun Microsystems, Inc. All rights reserved.
 
 The contents of this file are subject to the terms of either the GNU
 General Public License Version 2 only ("GPL") or the Common Development
 and Distribution License("CDDL") (collectively, the "License").  You
 may not use this file except in compliance with the License. You can obtain
 a copy of the License at https://glassfish.dev.java.net/public/CDDL+GPL.html
 or glassfish/bootstrap/legal/LICENSE.txt.  See the License for the specific
 language governing permissions and limitations under the License.
 
 When distributing the software, include this License Header Notice in each
 file and include the License file at glassfish/bootstrap/legal/LICENSE.txt.
 Sun designates this particular file as subject to the "Classpath" exception
 as provided by Sun in the GPL Version 2 section of the License file that
 accompanied this code.  If applicable, add the following below the License
 Header, with the fields enclosed by brackets [] replaced by your own
 identifying information: "Portions Copyrighted [year]
 [name of copyright owner]"
 
 Contributor(s):
 
 If you wish your version of this file to be governed by only the CDDL or
 only the GPL Version 2, indicate your decision by adding "[Contributor]
 elects to include this software in this distribution under the [CDDL or GPL
 Version 2] license."  If you don't indicate a single choice of license, a
 recipient has the option to distribute your version of this file under
 either the CDDL, the GPL Version 2 or to extend the choice of license to
 its licensees as provided above.  However, if you add GPL Version 2 code
 and therefore, elected the GPL Version 2 license, then the option applies
 only if the new code is made subject to such option by the copyright
 holder.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"

  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
  xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"

  xmlns:sc="http://schemas.sun.com/2006/03/wss/server"

  xmlns:tns="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver"
  targetNamespace="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver"
  name="DischargeSummaryReceiver">

  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:tns="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver"
      xmlns:ds="http://www.nehta.gov.au/ns/2006/DischargeSummary"
      targetNamespace="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver"
      elementFormDefault="qualified">

      <xsd:import namespace="http://www.nehta.gov.au/ns/2006/DischargeSummary"
        schemaLocation="DischargeSummary.xsd"/>

      <xsd:element name="Ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="PingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="SendDischargeSummary">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="documentId" type="xsd:string"/>
            <xsd:element name="document" type="ds:DischargeSummary"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="SendDischargeSummaryResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="CheckStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="documentId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="CheckStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="tns:ReceivedStatus"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="InvalidIdFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="errorCode" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:simpleType name="ReceivedStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NotReceived"/>
          <xsd:enumeration value="PendingAcknowledgement"/>
          <xsd:enumeration value="Acknowledged"/>
        </xsd:restriction>
      </xsd:simpleType>

    </xsd:schema>
  </types>

  <message name="PingInMsg">
    <part name="body" element="tns:Ping"/>
  </message>

  <message name="PingOutMsg">
    <part name="body" element="tns:PingResponse"/>
  </message>

  <message name="SendDischargeSummaryInMsg">
    <part name="body" element="tns:SendDischargeSummary"/>
  </message>

  <message name="SendDischargeSummaryOutMsg">
    <part name="body" element="tns:SendDischargeSummaryResponse"/>
  </message>

  <message name="CheckStatusInMsg">
    <part name="body" element="tns:CheckStatus"/>
  </message>

  <message name="CheckStatusOutMsg">
    <part name="body" element="tns:CheckStatusResponse"/>
  </message>

  <message name="InvalidIdFault">
    <part name="fault" element="tns:InvalidIdFault"/>
  </message>

  <portType name="DischargeSummaryReceiver">
    <operation name="Ping">
      <input message="tns:PingInMsg"
        wsaw:Action="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver/Ping"/>
      <output message="tns:PingOutMsg"
        wsaw:Action="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver/PingResponse"/>
    </operation>
    <operation name="SendDischargeSummary">
      <input message="tns:SendDischargeSummaryInMsg"
        wsaw:Action="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver/SendDischargeSummary"/>
      <output message="tns:SendDischargeSummaryOutMsg"
        wsaw:Action="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver/SendDischargeSummaryResponse"/>
      <fault name="InvalidIdFault" message="tns:InvalidIdFault"
        wsaw:Action="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver/SendDischargeSummaryFault/InvalidId"/>
    </operation>
    <operation name="CheckStatus">
      <input message="tns:CheckStatusInMsg"
        wsaw:Action="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver/CheckStatus"/>
      <output message="tns:CheckStatusOutMsg"
        wsaw:Action="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver/CheckStatusResponse"/>
      <fault name="InvalidIdFault" message="tns:InvalidIdFault"
        wsaw:Action="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver/CheckStatusFault/InvalidId"/>
    </operation>
  </portType>

  <wsp:Policy wsu:Id="SecurityConfigPolicy">
    <wsp:ExactlyOne>
      <wsp:All xmlns:sc="http://schemas.sun.com/2006/03/wss/server">
        <sc:ValidatorConfiguration maxNonceAge="900000"
          sc:maxClockSkew="1200000" sc:TimestampFreshnessLimit="1200000"/>

        <sc:KeyStore type="JKS" storepass="password" alias="jaxws_server"
          location="C:\DSRService\security\jaxws_server.jks"/>
        <sc:TrustStore type="JKS" storepass="password" peeralias="jaxws_client"
          location="C:\DSRService\security\truststore.jks" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

  <wsp:Policy wsu:Id="AddressingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

  <wsp:Policy wsu:Id="SecurityPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:AsymmetricBinding>
          <wsp:Policy>
            <sp:InitiatorToken>
              <wsp:Policy>
                <sp:X509Token
                  sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                    <sp:RequireKeyIdentifierReference/>
                    <sp:WssX509V3Token11/>
                  </wsp:Policy>
                </sp:X509Token>
              </wsp:Policy>
            </sp:InitiatorToken>
            <sp:RecipientToken>
              <wsp:Policy>
                <sp:X509Token
                  sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                  <wsp:Policy>
                    <sp:RequireKeyIdentifierReference/>
                    <sp:WssX509V3Token11/>
                  </wsp:Policy>
                </sp:X509Token>
              </wsp:Policy>
            </sp:RecipientToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
            <sp:SignxxBeforeEncrypting/>
            <sp:EncryptSignature/>
            <sp:OnlySignEntireHeadersAndBody/>
          </wsp:Policy>
        </sp:AsymmetricBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

  <wsp:Policy wsu:Id="SecureMessagePolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body/>
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body/>
          <sp:Header Namespace="http://www.w3.org/2005/08/addressing"/>
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

  <binding name="DischargeSummaryReceiverBinding"
    type="tns:DischargeSummaryReceiver">

    <wsp:PolicyReference URI="#AddressingPolicy"/>
    <wsp:PolicyReference URI="#SecurityPolicy"/>

    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="Ping">
      <soap:operation style="document"
        soapAction="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver/Ping"/>
      <input>
        <soap:body use="literal"/>
        <wsp:PolicyReference URI="#SecureMessagePolicy"/>
      </input>
      <output>
        <soap:body use="literal"/>
        <wsp:PolicyReference URI="#SecureMessagePolicy"/>
      </output>
    </operation>

    <operation name="SendDischargeSummary">
      <soap:operation style="document"
        soapAction="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver/SendDischargeSummary"/>
      <input>
        <soap:body use="literal"/>
        <wsp:PolicyReference URI="#SecureMessagePolicy"/>
      </input>
      <output>
        <soap:body use="literal"/>
        <wsp:PolicyReference URI="#SecureMessagePolicy"/>
      </output>
      <fault name="InvalidIdFault">
        <soap:fault name="InvalidIdFault" use="literal"/>
        <wsp:PolicyReference URI="#SecureMessagePolicy"/>
      </fault>
    </operation>

    <operation name="CheckStatus">
      <soap:operation style="document"
        soapAction="http://www.nehta.gov.au/ns/2006/DischargeSummaryReceiver/CheckStatus"/>
      <input>
        <soap:body use="literal"/>
        <wsp:PolicyReference URI="#SecureMessagePolicy"/>
      </input>
      <output>
        <soap:body use="literal"/>
        <wsp:PolicyReference URI="#SecureMessagePolicy"/>
      </output>
      <fault name="InvalidIdFault">
        <soap:fault name="InvalidIdFault" use="literal"/>
        <wsp:PolicyReference URI="#SecureMessagePolicy"/>
      </fault>
    </operation>
  </binding>

  <service name="DischargeSummaryReceiverService">
    <port name="DischargeSummaryReceiver"
      binding="tns:DischargeSummaryReceiverBinding">

      <wsp:PolicyReference URI="#SecurityConfigPolicy"/>

      <soap:address location="http://REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>

</definitions>