wsit/samples/ws-trust/src/fs/etc/client-config/wsit-client.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
 The contents of this file are subject to the terms
 of the Common Development and Distribution License
 (the "License").  You may not use this file except
 in compliance with the License.

 You can obtain a copy of the license at
 https://jwsdp.dev.java.net/CDDLv1.0.html
 See the License for the specific language governing
 permissions and limitations under the License.

 When distributing Covered Code, include this CDDL
 HEADER in each file and include the License file at
 https://jwsdp.dev.java.net/CDDLv1.0.html  If applicable,
 add the following below this CDDL HEADER, with the
 fields enclosed by brackets "[]" replaced with your
 own identifying information: Portions Copyright [yyyy]
 [name of copyright owner]
-->
<!--
 Copyright (c) 2006 Sun Microsystems, Inc.
 All rights reserved. 
-->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
                  xmlns:tns="http://tempuri.org/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
                  xmlns:wsap="http://www.w3.org/2006/05/addressing/wsdl" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">
    
    <!-- begin :Keystore Info : latest method : referred from wsdl:service element -->
    <wsp:Policy wsu:Id="ClientKeystorePolicy" 
      xmlns:sc="http://schemas.sun.com/2006/03/wss/client" 
      xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
      xmlns:scc="http://schemas.sun.com/ws/2006/05/sc/client" >
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:KeyStore wspp:visibility="private" location="$WSIT_HOME/xws-security/etc/client-keystore.jks" type="JKS" alias="alice" storepass="changeit"></sc:KeyStore>
                <sc:TrustStore wspp:visibility="private" location="$WSIT_HOME/xws-security/etc/client-truststore.jks" type="JKS" storepass="changeit" peeralias="bob"></sc:TrustStore>
                
                <!--sc:ValidatorConfiguration wspp:visibility="private" sc:maxClockSkew="1200000" sc:timestampFreshnessLimit="1200000"/-->
                <scc:SCClientConfiguration wspp:visibility="private">
                    <scc:LifeTime>36000</scc:LifeTime>
                </scc:SCClientConfiguration>
                
                 <sc:CallbackHandlerConfiguration xmlns:sc="http://schemas.sun.com/2006/03/wss/client">
                    <sc:CallbackHandler  name="usernameHandler"  classname="common.SampleUsernamePasswordCallbackHandler"/> 
                    <sc:CallbackHandler  name="passwordHandler"  classname="common.SampleUsernamePasswordCallbackHandler"/>
                </sc:CallbackHandlerConfiguration>
                
                <tc:PreconfiguredSTS xmlns:tc="http://schemas.sun.com/ws/2006/05/trust/client" 
                    endpoint="http://localhost:8080/jaxws-sts/sts"
                    wsdlLocation="http://localhost:8080/jaxws-sts/sts?wsdl"
                    serviceName="SecurityTokenService"
                    portName="ISecurityTokenService_Port"
                    namespace="http://tempuri.org/">
                </tc:PreconfiguredSTS>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    
    <wsp:Policy wsu:Id="STSClientKeystorePolicy" 
      xmlns:sc="http://schemas.sun.com/2006/03/wss/client" 
      xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
      xmlns:scc="http://schemas.sun.com/ws/2006/05/sc/client" >
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:KeyStore wspp:visibility="private" location="$WSIT_HOME/xws-security/etc/client-keystore.jks" type="JKS" alias="alice" storepass="changeit"></sc:KeyStore>
                <sc:TrustStore wspp:visibility="private" location="$WSIT_HOME/xws-security/etc/client-truststore.jks" type="JKS" storepass="changeit" peeralias="wssip"></sc:TrustStore>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <!-- end :Keystore Info : latest method : referred from wsdl:service element -->

   <wsdl:types>
        <xsd:schema targetNamespace="http://xmlsoap.org/DAB/Imports">
            <xsd:import schemaLocation="Service_schema.xsd" namespace="http://xmlsoap.org/DAB"/>
        </xsd:schema>
   </wsdl:types>
        
  <wsdl:message name="DABRequest">
            <wsdl:part name="Department" element="q:Department" xmlns:q="http://xmlsoap.org/DAB"/>
        </wsdl:message>
        <wsdl:message name="DABResponse">
            <wsdl:part name="AccountBalance" element="q:AccountBalance" xmlns:q="http://xmlsoap.org/DAB"/>
        </wsdl:message>
    
   <wsdl:message name="ISecurityTokenService_IssueToken_InputMessage">
		<wsdl:part name="rstMessage" element="q1:MessageBody" xmlns:q1="http://schemas.message.com/Message"/>
	</wsdl:message>
	<wsdl:message name="ISecurityTokenService_IssueToken_OutputMessage">
		<wsdl:part name="IssueTokenResult" element="q2:MessageBody" xmlns:q2="http://schemas.message.com/Message"/>
	</wsdl:message>
    
   <wsdl:portType name="IFinancialService">
            <wsdl:operation name="getAccountBalance">
                <wsdl:input wsap:Action="http://xmlsoap.org/DAB" name="DABRequest" message="tns:DABRequest"/>
                <wsdl:output wsap:Action="http://xmlsoap.org/DAB" name="DABResponse" message="tns:DABResponse"/>
            </wsdl:operation>
        </wsdl:portType>
    
    <wsdl:portType name="ISecurityTokenService">
		<wsdl:operation name="IssueToken">
			<wsdl:input wsap:Action="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue" message="tns:ISecurityTokenService_IssueToken_InputMessage"/>
			<wsdl:output wsap:Action="http://schemas.xmlsoap.org/ws/2005/02/trust/RSTR/Issue" message="tns:ISecurityTokenService_IssueToken_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
    
    <wsdl:binding name="IFinancialService_Binding" type="tns:IFinancialService">
		<wsp:PolicyReference URI="#ClientKeystorePolicy"/>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAccountBalance">
			<soap:operation soapAction="http://xmlsoap.org/DAB" style="document"/>
			<wsdl:input name="DABRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DABResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

    <wsdl:binding name="ISecurityTokenService_Binding" type="tns:ISecurityTokenService">
		<wsp:PolicyReference URI="#ClientKeystorePolicy"/>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="IssueToken">
			<soap:operation soapAction="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

   <wsdl:service name="SecurityTokenService">
		<wsdl:port name="ISecurityTokenService_Port" binding="tns:ISecurityTokenService_Binding">
			<soap:address location="http://localhost:8080/jaxws-sts/sts"/>
		</wsdl:port>
	</wsdl:service>

    <!-- **** NOTE : SERVICE HAS POLICYREFERENCE TO CLIENTKEYSTOREPOLICY DEFINED ABOVE **** -->
   <wsdl:service name="FinancialService">
		<wsdl:port name="IFinancialService_Port" binding="tns:IFinancialService_Binding">
			<soap:address location="http://localhost:8080/jaxws-fs/simple"/>
		</wsdl:port>
	</wsdl:service>
    <!-- **** NOTE : SERVICE HAS POLICYREFERENCE TO CLIENTKEYSTOREPOLICY DEFINED ABOVE **** -->
</wsdl:definitions>


