wsit/test/e2e/testcases/wstrust/wssx_lifetime_renew/resources/wsit-client.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 
 Copyright 1997-2008 Sun Microsystems, Inc. All rights reserved.
 
 The contents of this file are subject to the terms of either the GNU
 General Public License Version 2 only ("GPL") or the Common Development
 and Distribution License("CDDL") (collectively, the "License").  You
 may not use this file except in compliance with the License. You can obtain
 a copy of the License at https://glassfish.dev.java.net/public/CDDL+GPL.html
 or glassfish/bootstrap/legal/LICENSE.txt.  See the License for the specific
 language governing permissions and limitations under the License.
 
 When distributing the software, include this License Header Notice in each
 file and include the License file at glassfish/bootstrap/legal/LICENSE.txt.
 Sun designates this particular file as subject to the "Classpath" exception
 as provided by Sun in the GPL Version 2 section of the License file that
 accompanied this code.  If applicable, add the following below the License
 Header, with the fields enclosed by brackets [] replaced by your own
 identifying information: "Portions Copyrighted [year]
 [name of copyright owner]"
 
 Contributor(s):
 
 If you wish your version of this file to be governed by only the CDDL or
 only the GPL Version 2, indicate your decision by adding "[Contributor]
 elects to include this software in this distribution under the [CDDL or GPL
 Version 2] license."  If you don't indicate a single choice of license, a
 recipient has the option to distribute your version of this file under
 either the CDDL, the GPL Version 2 or to extend the choice of license to
 its licensees as provided above.  However, if you add GPL Version 2 code
 and therefore, elected the GPL Version 2 license, then the option applies
 only if the new code is made subject to such option by the copyright
 holder.
--><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsap10="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/">

    <!-- begin :Keystore Info : latest method : referred from wsdl:service element -->
    <wsp:Policy xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:scc="http://schemas.sun.com/ws/2006/05/sc/client" wsu:Id="ClientKeystorePolicy">
        <wsp:ExactlyOne>
            <wsp:All>
		 <!--<sunsp:DisableStreamingSecurity xmlns:sunsp="http://schemas.sun.com/2006/03/wss/client"></sunsp:DisableStreamingSecurity>-->
                <sc:KeyStore wspp:visibility="private" location="$WSIT_HOME/xws-security/etc/client-keystore.jks" type="JKS" alias="alice" storepass="changeit"/>
                <sc:TrustStore wspp:visibility="private" location="$WSIT_HOME/xws-security/etc/client-truststore.jks" type="JKS" storepass="changeit" peeralias="bob"/>
                
                <!--sc:ValidatorConfiguration wspp:visibility="private" sc:maxClockSkew="1200000" sc:timestampFreshnessLimit="1200000"/-->
                <scc:SCClientConfiguration wspp:visibility="private">
                    <scc:LifeTime>36000</scc:LifeTime>
                </scc:SCClientConfiguration>
                
                <sc:CallbackHandlerConfiguration>
                    <sc:CallbackHandler name="usernameHandler" default="Alice"/> 
                    <!--<sc:CallbackHandler  name="passwordHandler"  default="abcd!1234"/>-->
                </sc:CallbackHandlerConfiguration>
                
                <tc:PreconfiguredSTS xmlns:tc="http://schemas.sun.com/ws/2006/05/trust/client" endpoint="in-vm://wstrust.wssx_lifetime_renew.sts/" wsdlLocation="file:/C:/metro/WSIT/current/wsit/wsit/test/e2e/testcases/wstrust/wssx_lifetime_renew/./sts/sts.wsdl" serviceName="SecurityTokenService" portName="CustomBinding_ISecurityTokenService" namespace="http://tempuri.org/" shareToken="true" renewExpiredToken="true">
                    <tc:LifeTime>900</tc:LifeTime>
                </tc:PreconfiguredSTS>

                <!--endpoint="http://localhost:8080/jaxws-s5-sts/sts?wsdl"-->
                <!--endpoint="local://D:/wsit-fresh/wsit/wsit/test/e2e/testcases/wstrust/wssx_lifetime_renew/work/services/sts/war?CustomBinding_ISecurityTokenService"-->
                 <!--endpoint="file:/D:/wsit-fresh/wsit/wsit/test/e2e/testcases/wstrust/wssx_lifetime_renew/work/services/sts/war/WEB-INF/wsdl/sts.wsdl"-->

                <!--tc:PreconfiguredSTS xmlns:tc="http://schemas.sun.com/ws/2006/05/trust/client" 
                    endpoint="http://131.107.72.15/Security_Federation_SecurityTokenService_Indigo/Symmetric.svc/Scenario_6_IssuedTokenForCertificateSecureConversation_MutualCertificate11"
                    wsdlLocation="file:etc/sts/sts.wsdl"
                    serviceName="SecurityTokenService"
                    portName="CustomBinding_ISecurityTokenService"
                    namespace="http://tempuri.org/">
                </tc:PreconfiguredSTS-->
                
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    
    <wsp:Policy xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:scc="http://schemas.sun.com/ws/2006/05/sc/client" wsu:Id="STSClientKeystorePolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:KeyStore wspp:visibility="private" location="$WSIT_HOME/xws-security/etc/client-keystore.jks" type="JKS" alias="alice" storepass="changeit"/>
                <sc:TrustStore wspp:visibility="private" location="$WSIT_HOME/xws-security/etc/client-truststore.jks" type="JKS" storepass="changeit" peeralias="wssip"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <!-- end :Keystore Info : latest method : referred from wsdl:service element -->

   <wsdl:message name="PingRequest">
       <wsdl:part xmlns:q="http://xmlsoap.org/Ping" name="Ping" element="q:Ping"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="PingResponse">
       <wsdl:part xmlns:q="http://xmlsoap.org/Ping" name="PingResponse" element="q:PingResponse"></wsdl:part>
   </wsdl:message>
    
   <wsdl:message name="ISecurityTokenService_IssueToken_InputMessage">
		<wsdl:part xmlns:q1="http://schemas.microsoft.com/Message" name="rstMessage" element="q1:MessageBody"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="ISecurityTokenService_IssueToken_OutputMessage">
		<wsdl:part xmlns:q2="http://schemas.microsoft.com/Message" name="IssueTokenResult" element="q2:MessageBody"></wsdl:part>
   </wsdl:message>
    
    <wsdl:portType msc:usingSession="false" name="IPingService">
            <wsdl:operation name="Ping">
                <wsdl:input wsap10:Action="http://xmlsoap.org/Ping" name="PingRequest" message="tns:PingRequest"/>
                <wsdl:output wsap10:Action="http://xmlsoap.org/Ping" name="PingResponse" message="tns:PingResponse"/>
            </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:portType msc:usingSession="false" name="ISecurityTokenService">
		<wsdl:operation name="IssueToken">
			<wsdl:input wsam:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" message="tns:ISecurityTokenService_IssueToken_InputMessage"/>
			<wsdl:output wsam:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RSTR/Issue" message="tns:ISecurityTokenService_IssueToken_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
    
    <wsdl:binding name="PingBinding" type="tns:IPingService"> 
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> 
        <wsp:PolicyReference URI="#ClientKeystorePolicy"/>
        <wsdl:operation name="Ping"> 
            <soap12:operation soapAction="http://xmlsoap.org/Ping" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal"/> 
            </wsdl:output> 
        </wsdl:operation>         
    </wsdl:binding>     

    <wsdl:binding name="CustomBinding_ISecurityTokenService" type="tns:ISecurityTokenService">
		<wsp:PolicyReference URI="#STSClientKeystorePolicy"/>
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="IssueToken">
            <soap12:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SecurityTokenService">
        <wsdl:port name="CustomBinding_ISecurityTokenService" binding="tns:CustomBinding_ISecurityTokenService">
            <soap12:address location="ANY_URL"/>
        </wsdl:port>
    </wsdl:service> 

    <!-- **** NOTE : SERVICE HAS POLICYREFERENCE TO CLIENTKEYSTOREPOLICY DEFINED ABOVE **** -->
    <wsdl:service name="PingService"> 
        <wsdl:port name="CustomBinding_IPingService" binding="tns:PingBinding"> 
            <soap12:address location="REPLACE_WITH_ACTUAL_URL"/> 
        </wsdl:port>
    </wsdl:service> 
    <!-- **** NOTE : SERVICE HAS POLICYREFERENCE TO CLIENTKEYSTOREPOLICY DEFINED ABOVE **** -->
</wsdl:definitions>