wsit/rt/test/unit/data/policy/wsdl_filter/W2JRLR2010TestService_expected.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright 2003 Sun Microsystems, Inc. All rights reserved.
   SUN PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
-->
<definitions
          name="W2JRLR2010Test"
     targetNamespace="http://w2jrlr2010testservice.org/W2JRLR2010TestService.wsdl"
     xmlns:tns="http://w2jrlr2010testservice.org/W2JRLR2010TestService.wsdl"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:ns2="http://w2jrlr2010testservice.org/types2"
     xmlns:ns3="http://w2jrlr2010testservice.org/types3"
     xmlns:ns4="http://w2jrlr2010testservice.org/types4"
     xmlns:ns5="http://w2jrlr2010testservice.org/types5">

     <import namespace="http://w2jrlr2010testservice.org/W2JRLR2010ImportIndirectly.wsdl" location="W2JRLR2010ImportIndirectly.wsdl">
          <documentation>
               Documentation.
          </documentation>
     </import>

     <types>
          <xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified">
               <xsd:import namespace="http://w2jrlr2010testservice.org/types2" schemaLocation="W2JRLR2010ImportDirectlyUTF8.xsd"/>
               <xsd:import namespace="http://w2jrlr2010testservice.org/types3" schemaLocation="W2JRLR2010ImportDirectlyUTF16.xsd"/>
          </xsd:schema>
     </types>

    <message name="echoImportDirectlyUTF8Request">
        <part name="params" type="ns2:ImportDirectlyUTF8Request"/>
    </message>
    <message name="echoImportDirectlyUTF8Response">
        <part name="result" type="ns2:ImportDirectlyUTF8Response"/>
    </message>
    <message name="echoImportDirectlyUTF16Request">
        <part name="params" type="ns3:ImportDirectlyUTF16Request"/>
    </message>
    <message name="echoImportDirectlyUTF16Response">
        <part name="result" type="ns3:ImportDirectlyUTF16Response"/>
    </message>

    <message name="echoImportIndirectlyUTF8Request">
        <part name="params" type="ns4:ImportIndirectlyUTF8Request"/>
    </message>
    <message name="echoImportIndirectlyUTF8Response">
        <part name="result" type="ns4:ImportIndirectlyUTF8Response"/>
    </message>
    <message name="echoImportIndirectlyUTF16Request">
        <part name="params" type="ns5:ImportIndirectlyUTF16Request"/>
    </message>
    <message name="echoImportIndirectlyUTF16Response">
        <part name="result" type="ns5:ImportIndirectlyUTF16Response"/>
    </message>

    <portType name="W2JRLR2010Test">
    	<operation name="echoImportDirectlyUTF8Test">
            <input message="tns:echoImportDirectlyUTF8Request"/>
            <output message="tns:echoImportDirectlyUTF8Response"/>
    	</operation>
    	<operation name="echoImportDirectlyUTF16Test">
            <input message="tns:echoImportDirectlyUTF16Request"/>
            <output message="tns:echoImportDirectlyUTF16Response"/>
    	</operation>
    	<operation name="echoImportIndirectlyUTF8Test">
            <input message="tns:echoImportIndirectlyUTF8Request"/>
            <output message="tns:echoImportIndirectlyUTF8Response"/>
    	</operation>
    	<operation name="echoImportIndirectlyUTF16Test">
            <input message="tns:echoImportIndirectlyUTF16Request"/>
            <output message="tns:echoImportIndirectlyUTF16Response"/>
    	</operation>
    </portType>
    
    <binding name="W2JRLR2010TestBinding" type="tns:W2JRLR2010Test">
    	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<operation name="echoImportDirectlyUTF8Test">
    		<soap:operation/>
            <input>
                <soap:body use="literal" namespace="http://w2jrlr2010testservice.org/W2JRLR2010TestService.wsdl"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://w2jrlr2010testservice.org/W2JRLR2010TestService.wsdl"/>
            </output>
    	</operation>
    	<operation name="echoImportDirectlyUTF16Test">
    		<soap:operation/>
            <input>
                <soap:body use="literal" namespace="http://w2jrlr2010testservice.org/W2JRLR2010TestService.wsdl"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://w2jrlr2010testservice.org/W2JRLR2010TestService.wsdl"/>
            </output>
    	</operation>
    	<operation name="echoImportIndirectlyUTF8Test">
    		<soap:operation/>
            <input>
                <soap:body use="literal" namespace="http://w2jrlr2010testservice.org/W2JRLR2010TestService.wsdl"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://w2jrlr2010testservice.org/W2JRLR2010TestService.wsdl"/>
            </output>
    	</operation>
    	<operation name="echoImportIndirectlyUTF16Test">
    		<soap:operation/>
            <input>
                <soap:body use="literal" namespace="http://w2jrlr2010testservice.org/W2JRLR2010TestService.wsdl"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://w2jrlr2010testservice.org/W2JRLR2010TestService.wsdl"/>
            </output>
    	</operation>
    </binding>

    <service name="W2JRLR2010TestService">
        <port binding="tns:W2JRLR2010TestBinding"
            name="W2JRLR2010TestPort">
            <soap:address
                location="http://w2jrlr2010testservice.org/W2JRLR2010TestService.wsdl"/>
        </port>
    </service>
    
</definitions>
