wsit/test/e2e/testcases/wstrust/scenario5/resources/wsit-client.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
 The contents of this file are subject to the terms
 of the Common Development and Distribution License
 (the "License").  You may not use this file except
 in compliance with the License.

 You can obtain a copy of the license at
 https://jwsdp.dev.java.net/CDDLv1.0.html
 See the License for the specific language governing
 permissions and limitations under the License.

 When distributing Covered Code, include this CDDL
 HEADER in each file and include the License file at
 https://jwsdp.dev.java.net/CDDLv1.0.html  If applicable,
 add the following below this CDDL HEADER, with the
 fields enclosed by brackets "[]" replaced with your
 own identifying information: Portions Copyright [yyyy]
 [name of copyright owner]
-->
<!--
 Copyright (c) 2006 Sun Microsystems, Inc.
 All rights reserved. 
-->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
                  xmlns:tns="http://tempuri.org/" 
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" 
                  xmlns:wsap10="http://www.w3.org/2006/05/addressing/wsdl" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
                  xmlns:ci="http://schemas.microsoft.com/ws/2005/01/WSDL/Extensions/ContractInheritance" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" 
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    
    <!-- begin :Keystore Info : latest method : referred from wsdl:service element -->
    <wsp:Policy wsu:Id="ClientKeystorePolicy" 
      xmlns:sc="http://schemas.sun.com/2006/03/wss/client" 
      xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
      xmlns:scc="http://schemas.sun.com/ws/2006/05/sc/client" >
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:KeyStore wspp:visibility="private" location="$WSIT_HOME/xws-security/etc/client-keystore.jks" type="JKS" alias="alice" storepass="changeit"></sc:KeyStore>
                <sc:TrustStore wspp:visibility="private" location="$WSIT_HOME/xws-security/etc/client-truststore.jks" type="JKS" storepass="changeit" peeralias="bob" stsalias="wssip"></sc:TrustStore>
                
                <!--sc:ValidatorConfiguration wspp:visibility="private" sc:maxClockSkew="1200000" sc:timestampFreshnessLimit="1200000"/-->
                <scc:SCClientConfiguration wspp:visibility="private">
                    <scc:LifeTime>36000</scc:LifeTime>
                </scc:SCClientConfiguration>
                
                <sc:CallbackHandlerConfiguration xmlns:sc="http://schemas.sun.com/2006/03/wss/client">
                    <sc:CallbackHandler  name="usernameHandler"  default="Alice"/> 
                    <sc:CallbackHandler  name="passwordHandler"  default="abcd!1234"/>
                </sc:CallbackHandlerConfiguration>
                
                <tc:PreconfiguredSTS xmlns:tc="http://schemas.sun.com/ws/2006/05/trust/client" 
                    endpoint="http://localhost:8080/jaxws-s5-sts/sts"
                    wsdlLocation="WEB-INF/wsdl/sts.wsdl"
                    serviceName="SecurityTokenService"
                    portName="CustomBinding_ISecurityTokenService"
                    namespace="http://tempuri.org/">
                </tc:PreconfiguredSTS>
                
                <!--tc:PreconfiguredSTS xmlns:tc="http://schemas.sun.com/ws/2006/05/trust/client" 
                    endpoint="http://131.107.72.15/Security_Federation_SecurityTokenService_Indigo/Symmetric.svc/Scenario_6_IssuedTokenForCertificateSecureConversation_MutualCertificate11"
                    wsdlLocation="file:etc/sts/sts.wsdl"
                    serviceName="SecurityTokenService"
                    portName="CustomBinding_ISecurityTokenService"
                    namespace="http://tempuri.org/">
                </tc:PreconfiguredSTS-->
                
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <!-- end :Keystore Info : latest method : referred from wsdl:service element -->

   <wsdl:message name="PingRequest">
       <wsdl:part name="Ping" element="q:Ping" xmlns:q="http://xmlsoap.org/Ping"/>
   </wsdl:message>
   <wsdl:message name="PingResponse">
       <wsdl:part name="PingResponse" element="q:PingResponse" xmlns:q="http://xmlsoap.org/Ping"/>
   </wsdl:message>
    
   <wsdl:message name="ISecurityTokenService_IssueToken_InputMessage">
		<wsdl:part name="rstMessage" element="q1:MessageBody" xmlns:q1="http://schemas.microsoft.com/Message"/>
   </wsdl:message>
   <wsdl:message name="ISecurityTokenService_IssueToken_OutputMessage">
		<wsdl:part name="IssueTokenResult" element="q2:MessageBody" xmlns:q2="http://schemas.microsoft.com/Message"/>
   </wsdl:message>
    
    <wsdl:portType msc:usingSession="false" name="IPingService">
            <wsdl:operation name="Ping">
                <wsdl:input wsap10:Action="http://xmlsoap.org/Ping" name="PingRequest" message="tns:PingRequest"/>
                <wsdl:output wsap10:Action="http://xmlsoap.org/Ping" name="PingResponse" message="tns:PingResponse"/>
            </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:portType msc:usingSession="false" name="ISecurityTokenService">
		<wsdl:operation name="IssueToken">
			<wsdl:input wsap10:Action="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue" message="tns:ISecurityTokenService_IssueToken_InputMessage"/>
			<wsdl:output wsap10:Action="http://schemas.xmlsoap.org/ws/2005/02/trust/RSTR/Issue" message="tns:ISecurityTokenService_IssueToken_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
    
    <wsdl:binding name="PingBinding" type="tns:IPingService"> 
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> 
        <wsp:PolicyReference URI="#ClientKeystorePolicy"></wsp:PolicyReference>
        <wsdl:operation name="Ping"> 
            <soap12:operation soapAction="http://xmlsoap.org/Ping" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal"/> 
            </wsdl:output> 
        </wsdl:operation>         
    </wsdl:binding>     

    <wsdl:binding name="CustomBinding_ISecurityTokenService" type="tns:ISecurityTokenService">
		<wsp:PolicyReference URI="#ClientKeystorePolicy"></wsp:PolicyReference>
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="IssueToken">
            <soap12:operation soapAction="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SecurityTokenService">
        <wsdl:port name="CustomBinding_ISecurityTokenService" binding="tns:CustomBinding_ISecurityTokenService">
            <soap12:address location="ANY_URL"/>
        </wsdl:port>
    </wsdl:service> 

    <!-- **** NOTE : SERVICE HAS POLICYREFERENCE TO CLIENTKEYSTOREPOLICY DEFINED ABOVE **** -->
    <wsdl:service name="PingService"> 
        <wsdl:port name="CustomBinding_IPingService" binding="tns:PingBinding"> 
            <soap12:address location="REPLACE_WITH_ACTUAL_URL"/> 
        </wsdl:port>
    </wsdl:service> 
    <!-- **** NOTE : SERVICE HAS POLICYREFERENCE TO CLIENTKEYSTOREPOLICY DEFINED ABOVE **** -->
</wsdl:definitions>


